// -----------------------------------
// MAIN
// -----------------------------------
// author: mda@zenexity.com - 2011
// -----------------------------------

@import 'libs/_theme.less';

body {
    background: @mainBackground;
    color: @mainColor;
    font: @defaultFont;
    -webkit-font-smoothing: antialised;
    -webkit-user-select: none;
}

a {
    color: @links;
    text-decoration: none;
    &:hover {
        color: @linksHover;
    }
}
