html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
form legend {
  display: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
ol,
ul {
  list-style: none;
}
hr {
  display: none;
  visibility: hidden;
}



.options {
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 11px;
}
.options dt {
  width: inherit;
  cursor: pointer;
  height: inherit;
  text-indent: -9999em;
  background: url(/assets/images/icons/options.png) 0 0 no-repeat;
}
.options:hover dt,
.options.opened dt {
  background: url(/assets/images/icons/options.png) 0 -20px no-repeat;
}
.options > dd {
  -moz-transform: scale(0.001);
  -webkit-transform: scale(0.001);
  -o-transform: scale(0.001);
  transform: scale(0.001);
  -moz-transition: -webkit-transform 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  -o-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  transform-origin: right top;
  position: absolute;
  top: 100%;
  right: -2px;
  width: 150px;
  margin: 7px 0px 0 0;
  padding: 5px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
}
.options > dd a,
.options > dd button {
  display: block;
  width: 100%;
  padding: 3px 10px;
  color: #aaaaaa;
  border-radius: 2px;
  background: none;
}
.options > dd a:hover,
.options > dd button:hover {
  background: #444444;
  color: #ffffff;
}
.options > dd:before {
  content: " ";
  display: block;
  border-bottom: 6px solid rgba(0, 0, 0, 0.85);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  margin-right: 0;
  margin-top: -12px;
  position: absolute;
  right: 5px;
  width: 1px;
  height: 1px;
}
.options.opened > dd {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.new {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
}
.new:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}
.new:before {
  content: "+";
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  color: #5daad5;
  padding-right: 4px;
}
.delete {
  position: absolute;
  top: 0px;
  right: 0;
  border: none;
  padding: 0;
  width: 18px;
  height: 20px;
  overflow: hidden;
  text-indent: -99em;
  background: url(/assets/images/icons/delete.png) 0 1px no-repeat;
  -moz-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  -webkit-transition-delay: 100ms;
  z-index: 7;
  cursor: pointer;
}
.delete:hover {
  background: url(/assets/images/icons/delete.png) 0 -19px no-repeat;
}
.counter {
  color: #888;
  font-size: 11px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  margin: 2px 5px;
  padding: 0px 3px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.loader {
  display: none;
  overflow: hidden;
  text-indent: -99em;
  position: absolute;
  height: 16px;
  width: 16px;
  background: url(/assets/images/loading.gif);
}
body {
  background: #c7d1d8;
  color: #2a3a48;
  font: 13px "Lucida Grande", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialised;
  -webkit-user-select: none;
}
a {
  color: #4794c4;
  text-decoration: none;
}
a:hover {
  color: #2a5e88;
}
p.note {
  margin: 10px auto 0;
  width: 300px;
  padding: 20px;
  text-align: center;
  color: #445868;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
}
p.note em {
  font-weight: bold;
}
form {
  margin: 100px auto 0;
  width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
form h1 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}
form p {
  width: inherit;
  margin: 5px 0;
  color: #999;
}
form p.error {
  color: #c00;
  margin-bottom: 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
form p.success {
  color: #83BD41;
  margin-bottom: 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
form input {
  display: block;
  width: inherit;
  padding: 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  border-radius: 3px;
  font-size: 14px;
}
form input:invalid:not(:focus) {
  border-color: red;
}
form button {
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
  display: block;
  width: inherit;
  font-size: 14px;
}
form button:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}
nav {
  margin-top: 15px;
}
nav a {
  display: inline-block;
  margin: 0 4px;
}

.options {
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 11px;
}
.options dt {
  width: inherit;
  cursor: pointer;
  height: inherit;
  text-indent: -9999em;
  background: url(/assets/images/icons/options.png) 0 0 no-repeat;
}
.options:hover dt,
.options.opened dt {
  background: url(/assets/images/icons/options.png) 0 -20px no-repeat;
}
.options > dd {
  -moz-transform: scale(0.001);
  -webkit-transform: scale(0.001);
  -o-transform: scale(0.001);
  transform: scale(0.001);
  -moz-transition: -webkit-transform 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  -o-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  transform-origin: right top;
  position: absolute;
  top: 100%;
  right: -2px;
  width: 150px;
  margin: 7px 0px 0 0;
  padding: 5px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
}
.options > dd a,
.options > dd button {
  display: block;
  width: 100%;
  padding: 3px 10px;
  color: #aaaaaa;
  border-radius: 2px;
  background: none;
}
.options > dd a:hover,
.options > dd button:hover {
  background: #444444;
  color: #ffffff;
}
.options > dd:before {
  content: " ";
  display: block;
  border-bottom: 6px solid rgba(0, 0, 0, 0.85);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  margin-right: 0;
  margin-top: -12px;
  position: absolute;
  right: 5px;
  width: 1px;
  height: 1px;
}
.options.opened > dd {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.new {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
}
.new:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}
.new:before {
  content: "+";
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  color: #5daad5;
  padding-right: 4px;
}
.delete {
  position: absolute;
  top: 0px;
  right: 0;
  border: none;
  padding: 0;
  width: 18px;
  height: 20px;
  overflow: hidden;
  text-indent: -99em;
  background: url(/assets/images/icons/delete.png) 0 1px no-repeat;
  -moz-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  -webkit-transition-delay: 100ms;
  z-index: 7;
  cursor: pointer;
}
.delete:hover {
  background: url(/assets/images/icons/delete.png) 0 -19px no-repeat;
}
.counter {
  color: #888;
  font-size: 11px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  margin: 2px 5px;
  padding: 0px 3px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.loader {
  display: none;
  overflow: hidden;
  text-indent: -99em;
  position: absolute;
  height: 16px;
  width: 16px;
  background: url(/assets/images/loading.gif);
}

.options {
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 11px;
}
.options dt {
  width: inherit;
  cursor: pointer;
  height: inherit;
  text-indent: -9999em;
  background: url(/assets/images/icons/options.png) 0 0 no-repeat;
}
.options:hover dt,
.options.opened dt {
  background: url(/assets/images/icons/options.png) 0 -20px no-repeat;
}
.options > dd {
  -moz-transform: scale(0.001);
  -webkit-transform: scale(0.001);
  -o-transform: scale(0.001);
  transform: scale(0.001);
  -moz-transition: -webkit-transform 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  -o-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  transform-origin: right top;
  position: absolute;
  top: 100%;
  right: -2px;
  width: 150px;
  margin: 7px 0px 0 0;
  padding: 5px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
}
.options > dd a,
.options > dd button {
  display: block;
  width: 100%;
  padding: 3px 10px;
  color: #aaaaaa;
  border-radius: 2px;
  background: none;
}
.options > dd a:hover,
.options > dd button:hover {
  background: #444444;
  color: #ffffff;
}
.options > dd:before {
  content: " ";
  display: block;
  border-bottom: 6px solid rgba(0, 0, 0, 0.85);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  margin-right: 0;
  margin-top: -12px;
  position: absolute;
  right: 5px;
  width: 1px;
  height: 1px;
}
.options.opened > dd {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.new {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
}
.new:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}
.new:before {
  content: "+";
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  color: #5daad5;
  padding-right: 4px;
}
.delete {
  position: absolute;
  top: 0px;
  right: 0;
  border: none;
  padding: 0;
  width: 18px;
  height: 20px;
  overflow: hidden;
  text-indent: -99em;
  background: url(/assets/images/icons/delete.png) 0 1px no-repeat;
  -moz-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  -webkit-transition-delay: 100ms;
  z-index: 7;
  cursor: pointer;
}
.delete:hover {
  background: url(/assets/images/icons/delete.png) 0 -19px no-repeat;
}
.counter {
  color: #888;
  font-size: 11px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  margin: 2px 5px;
  padding: 0px 3px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.loader {
  display: none;
  overflow: hidden;
  text-indent: -99em;
  position: absolute;
  height: 16px;
  width: 16px;
  background: url(/assets/images/loading.gif);
}
body > header {
  box-sizing: border-box;
  padding: 10px;
  z-index: 9;
  background: #445868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#445868), to(#2a3a48));
  background-image: -moz-linear-gradient(top, #445868, #2a3a48);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.8);
}
#logo {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-shadow: 1px 1px 0 #000;
}
#logo span {
  color: #5daad5;
}
#user {
  position: absolute;
  right: 10px;
  top: 10px;
}
#user > * {
  display: inline-block;
}
#user dt {
  color: #fff;
}
#user dt span {
  opacity: .5;
  font-size: 11px;
}
#user dd a,
#user dd button {
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
}
#user dd a:hover,
#user dd button:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}
