html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
form legend {
  display: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
ol,
ul {
  list-style: none;
}
hr {
  display: none;
  visibility: hidden;
}



body {
  background: #c7d1d8;
  color: #2a3a48;
  font: 13px "Lucida Grande", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialised;
  -webkit-user-select: none;
}
a {
  color: #4794c4;
  text-decoration: none;
}
a:hover {
  color: #2a5e88;
}

body > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}
body > nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 220px;
  bottom: 0;
  box-sizing: border-box;
}
body > section {
  position: absolute;
  top: 40px;
  left: 220px;
  right: 0;
  bottom: 0;
}
#main > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}
#main > article {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  overflow: auto;
}

.options {
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 11px;
}
.options dt {
  width: inherit;
  cursor: pointer;
  height: inherit;
  text-indent: -9999em;
  background: url(/assets/images/icons/options.png) 0 0 no-repeat;
}
.options:hover dt,
.options.opened dt {
  background: url(/assets/images/icons/options.png) 0 -20px no-repeat;
}
.options > dd {
  -moz-transform: scale(0.001);
  -webkit-transform: scale(0.001);
  -o-transform: scale(0.001);
  transform: scale(0.001);
  -moz-transition: -webkit-transform 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  -o-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  transform-origin: right top;
  position: absolute;
  top: 100%;
  right: -2px;
  width: 150px;
  margin: 7px 0px 0 0;
  padding: 5px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
}
.options > dd a,
.options > dd button {
  display: block;
  width: 100%;
  padding: 3px 10px;
  color: #aaaaaa;
  border-radius: 2px;
  background: none;
}
.options > dd a:hover,
.options > dd button:hover {
  background: #444444;
  color: #ffffff;
}
.options > dd:before {
  content: " ";
  display: block;
  border-bottom: 6px solid rgba(0, 0, 0, 0.85);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  margin-right: 0;
  margin-top: -12px;
  position: absolute;
  right: 5px;
  width: 1px;
  height: 1px;
}
.options.opened > dd {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.new {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
}
.new:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}
.new:before {
  content: "+";
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  color: #5daad5;
  padding-right: 4px;
}
.delete {
  position: absolute;
  top: 0px;
  right: 0;
  border: none;
  padding: 0;
  width: 18px;
  height: 20px;
  overflow: hidden;
  text-indent: -99em;
  background: url(/assets/images/icons/delete.png) 0 1px no-repeat;
  -moz-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  -webkit-transition-delay: 100ms;
  z-index: 7;
  cursor: pointer;
}
.delete:hover {
  background: url(/assets/images/icons/delete.png) 0 -19px no-repeat;
}
.counter {
  color: #888;
  font-size: 11px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  margin: 2px 5px;
  padding: 0px 3px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.loader {
  display: none;
  overflow: hidden;
  text-indent: -99em;
  position: absolute;
  height: 16px;
  width: 16px;
  background: url(/assets/images/loading.gif);
}

.options {
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 11px;
}
.options dt {
  width: inherit;
  cursor: pointer;
  height: inherit;
  text-indent: -9999em;
  background: url(/assets/images/icons/options.png) 0 0 no-repeat;
}
.options:hover dt,
.options.opened dt {
  background: url(/assets/images/icons/options.png) 0 -20px no-repeat;
}
.options > dd {
  -moz-transform: scale(0.001);
  -webkit-transform: scale(0.001);
  -o-transform: scale(0.001);
  transform: scale(0.001);
  -moz-transition: -webkit-transform 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  -o-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  transform-origin: right top;
  position: absolute;
  top: 100%;
  right: -2px;
  width: 150px;
  margin: 7px 0px 0 0;
  padding: 5px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
}
.options > dd a,
.options > dd button {
  display: block;
  width: 100%;
  padding: 3px 10px;
  color: #aaaaaa;
  border-radius: 2px;
  background: none;
}
.options > dd a:hover,
.options > dd button:hover {
  background: #444444;
  color: #ffffff;
}
.options > dd:before {
  content: " ";
  display: block;
  border-bottom: 6px solid rgba(0, 0, 0, 0.85);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  margin-right: 0;
  margin-top: -12px;
  position: absolute;
  right: 5px;
  width: 1px;
  height: 1px;
}
.options.opened > dd {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.new {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
}
.new:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}
.new:before {
  content: "+";
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  color: #5daad5;
  padding-right: 4px;
}
.delete {
  position: absolute;
  top: 0px;
  right: 0;
  border: none;
  padding: 0;
  width: 18px;
  height: 20px;
  overflow: hidden;
  text-indent: -99em;
  background: url(/assets/images/icons/delete.png) 0 1px no-repeat;
  -moz-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  -webkit-transition-delay: 100ms;
  z-index: 7;
  cursor: pointer;
}
.delete:hover {
  background: url(/assets/images/icons/delete.png) 0 -19px no-repeat;
}
.counter {
  color: #888;
  font-size: 11px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  margin: 2px 5px;
  padding: 0px 3px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.loader {
  display: none;
  overflow: hidden;
  text-indent: -99em;
  position: absolute;
  height: 16px;
  width: 16px;
  background: url(/assets/images/loading.gif);
}
body > nav {
  padding: 10px 0 0;
  background: #e1e7ec;
  border-right: 1px solid #606d78;
}
body .dashboard {
  display: block;
  position: relative;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 5px 5px 25px;
  background: url(/assets/images/icons/home.png) 6px 7px no-repeat;
}
body .dashboard a {
  color: #6f8193;
  cursor: default;
}
body h4 {
  cursor: default;
}
#projects input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
#projects > li {
  position: relative;
  padding: 10px 5px 5px 25px;
}
#projects > li .options {
  position: absolute;
  top: 7px;
  right: 5px;
}
#projects > li .options button {
  border: none;
}
#projects > li .loader {
  top: 8px;
  right: 6px;
}
#projects > li li {
  position: relative;
  padding: 0 0 0 25px;
  background: url(/assets/images/icons/folder.png) 1px 1px no-repeat;
}
#projects > li li a {
  display: block;
  color: #2a3a48;
  padding: 2px;
}
#projects > li li input[type=text] {
  padding: 2px 1px;
}
#projects > li li .delete {
  opacity: 0.1;
}
#projects > li li .loader {
  top: 2px;
  right: 2px;
}
#projects > li li:hover a {
  color: #000;
}
#projects > li li:hover .delete {
  opacity: 1;
}
#projects > li .toggle {
  content: " ";
  position: absolute;
  left: 8px;
  top: 12px;
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background: url(/assets/images/icons/drawer.folder.png) 0 0 no-repeat;
}
#projects > li > h4 {
  display: block;
  margin: 0 0 5px;
  padding: 0 1px;
  position: relative;
  color: #6f8193;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
#projects > li > input {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}
#projects > li.closed > ul {
  display: none;
}
#projects > li.closed .toggle {
  background-position: 0 -20px;
}
#activity {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  padding: 10px;
}
#newGroup {
  font-size: 13px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
  margin: 15px 25px;
}
#newGroup:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}
#newGroup:before {
  content: "+";
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  color: #5daad5;
  padding-right: 4px;
}

.options {
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 11px;
}
.options dt {
  width: inherit;
  cursor: pointer;
  height: inherit;
  text-indent: -9999em;
  background: url(/assets/images/icons/options.png) 0 0 no-repeat;
}
.options:hover dt,
.options.opened dt {
  background: url(/assets/images/icons/options.png) 0 -20px no-repeat;
}
.options > dd {
  -moz-transform: scale(0.001);
  -webkit-transform: scale(0.001);
  -o-transform: scale(0.001);
  transform: scale(0.001);
  -moz-transition: -webkit-transform 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  -o-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  transform-origin: right top;
  position: absolute;
  top: 100%;
  right: -2px;
  width: 150px;
  margin: 7px 0px 0 0;
  padding: 5px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
}
.options > dd a,
.options > dd button {
  display: block;
  width: 100%;
  padding: 3px 10px;
  color: #aaaaaa;
  border-radius: 2px;
  background: none;
}
.options > dd a:hover,
.options > dd button:hover {
  background: #444444;
  color: #ffffff;
}
.options > dd:before {
  content: " ";
  display: block;
  border-bottom: 6px solid rgba(0, 0, 0, 0.85);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  margin-right: 0;
  margin-top: -12px;
  position: absolute;
  right: 5px;
  width: 1px;
  height: 1px;
}
.options.opened > dd {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.new {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
}
.new:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}
.new:before {
  content: "+";
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  color: #5daad5;
  padding-right: 4px;
}
.delete {
  position: absolute;
  top: 0px;
  right: 0;
  border: none;
  padding: 0;
  width: 18px;
  height: 20px;
  overflow: hidden;
  text-indent: -99em;
  background: url(/assets/images/icons/delete.png) 0 1px no-repeat;
  -moz-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  -webkit-transition-delay: 100ms;
  z-index: 7;
  cursor: pointer;
}
.delete:hover {
  background: url(/assets/images/icons/delete.png) 0 -19px no-repeat;
}
.counter {
  color: #888;
  font-size: 11px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  margin: 2px 5px;
  padding: 0px 3px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.loader {
  display: none;
  overflow: hidden;
  text-indent: -99em;
  position: absolute;
  height: 16px;
  width: 16px;
  background: url(/assets/images/loading.gif);
}
body > header {
  box-sizing: border-box;
  padding: 10px;
  z-index: 9;
  background: #445868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#445868), to(#2a3a48));
  background-image: -moz-linear-gradient(top, #445868, #2a3a48);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.8);
}
#logo {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-shadow: 1px 1px 0 #000;
}
#logo span {
  color: #5daad5;
}
#user {
  position: absolute;
  right: 10px;
  top: 10px;
}
#user > * {
  display: inline-block;
}
#user dt {
  color: #fff;
}
#user dt span {
  opacity: .5;
  font-size: 11px;
}
#user dd a,
#user dd button {
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
}
#user dd a:hover,
#user dd button:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}

.options {
  width: 20px;
  height: 20px;
  position: relative;
  font-size: 11px;
}
.options dt {
  width: inherit;
  cursor: pointer;
  height: inherit;
  text-indent: -9999em;
  background: url(/assets/images/icons/options.png) 0 0 no-repeat;
}
.options:hover dt,
.options.opened dt {
  background: url(/assets/images/icons/options.png) 0 -20px no-repeat;
}
.options > dd {
  -moz-transform: scale(0.001);
  -webkit-transform: scale(0.001);
  -o-transform: scale(0.001);
  transform: scale(0.001);
  -moz-transition: -webkit-transform 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  -o-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  transform-origin: right top;
  position: absolute;
  top: 100%;
  right: -2px;
  width: 150px;
  margin: 7px 0px 0 0;
  padding: 5px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
}
.options > dd a,
.options > dd button {
  display: block;
  width: 100%;
  padding: 3px 10px;
  color: #aaaaaa;
  border-radius: 2px;
  background: none;
}
.options > dd a:hover,
.options > dd button:hover {
  background: #444444;
  color: #ffffff;
}
.options > dd:before {
  content: " ";
  display: block;
  border-bottom: 6px solid rgba(0, 0, 0, 0.85);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  margin-right: 0;
  margin-top: -12px;
  position: absolute;
  right: 5px;
  width: 1px;
  height: 1px;
}
.options.opened > dd {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.new {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
}
.new:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}
.new:before {
  content: "+";
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  color: #5daad5;
  padding-right: 4px;
}
.delete {
  position: absolute;
  top: 0px;
  right: 0;
  border: none;
  padding: 0;
  width: 18px;
  height: 20px;
  overflow: hidden;
  text-indent: -99em;
  background: url(/assets/images/icons/delete.png) 0 1px no-repeat;
  -moz-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  -webkit-transition-delay: 100ms;
  z-index: 7;
  cursor: pointer;
}
.delete:hover {
  background: url(/assets/images/icons/delete.png) 0 -19px no-repeat;
}
.counter {
  color: #888;
  font-size: 11px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  margin: 2px 5px;
  padding: 0px 3px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.loader {
  display: none;
  overflow: hidden;
  text-indent: -99em;
  position: absolute;
  height: 16px;
  width: 16px;
  background: url(/assets/images/loading.gif);
}
#main > header {
  height: 39px;
  background: url(/assets/images/breadcrumb.png);
  border-bottom: 1px solid #606d78;
}
#main > header hgroup {
  height: inherit;
  overflow: hidden;
  float: left;
}
#main > header hgroup > * {
  float: inherit;
  position: relative;
  height: inherit;
  line-height: 40px;
  margin-left: -25px;
  padding: 0 6px 0 13px;
  font-size: 18px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-image: url(/assets/images/breadcrumb-2.png) 0 30 0 20 stretch stretch;
  -moz-border-image: url(/assets/images/breadcrumb-2.png) 0 30 0 20 stretch stretch;
  border-image: url(/assets/images/breadcrumb-2.png) 0 30 0 20 stretch stretch;
  border-width: 0 30px 0 25px;
  color: #556b7b;
  -webkit-user-select: text;
}
#main > header hgroup > *:nth-child(2) {
  -webkit-border-image: url(/assets/images/breadcrumb-1.png) 0 30 0 1 stretch stretch;
  -moz-border-image: url(/assets/images/breadcrumb-1.png) 0 30 0 1 stretch stretch;
  border-image: url(/assets/images/breadcrumb-1.png) 0 30 0 2 stretch stretch;
}
#main > header hgroup > *:first-child {
  padding-left: 20px;
}
#main > header hgroup > *:nth-child(1) {
  z-index: 3;
}
#main > header hgroup > *:nth-child(2) {
  z-index: 2;
}
#main > header hgroup > *:nth-child(3) {
  z-index: 1;
}
#main > header .users {
  position: relative;
  margin: 8px 10px;
  float: right;
}
#main > header .users > dd {
  -moz-transform: scale(0.001);
  -webkit-transform: scale(0.001);
  -o-transform: scale(0.001);
  transform: scale(0.001);
  -moz-transition: -webkit-transform 200ms ease-out;
  -webkit-transition: -webkit-transform 200ms ease-out;
  -o-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  transform-origin: right top;
  position: absolute;
  top: 100%;
  right: -2px;
  width: 150px;
  margin: 7px 0px 0 0;
  padding: 5px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
}
#main > header .users > dd a,
#main > header .users > dd button {
  display: block;
  width: 100%;
  padding: 3px 10px;
  color: #aaaaaa;
  border-radius: 2px;
  background: none;
}
#main > header .users > dd a:hover,
#main > header .users > dd button:hover {
  background: #444444;
  color: #ffffff;
}
#main > header .users > dd:before {
  content: " ";
  display: block;
  border-bottom: 6px solid rgba(0, 0, 0, 0.85);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  margin-right: 0;
  margin-top: -12px;
  position: absolute;
  right: 5px;
  width: 1px;
  height: 1px;
}
#main > header .users.opened > dd {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#main > header .users > dt {
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #192937;
  background: rgba(187, 255, 255, 0.19999999999999996);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #c7d1d8;
  cursor: pointer;
}
#main > header .users > dt:before {
  content: url(/assets/images/icons/user.png);
  padding-right: 4px;
  vertical-align: middle;
}
#main > header .users > dt:hover {
  background: rgba(187, 255, 255, 0.30000000000000004);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
  background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
  background-color: #2a3a48;
  color: #ffffff;
}
#main > header .users > dd {
  padding: 5px 10px;
  width: 300px;
  color: #aaaaaa;
  z-index: 99;
}
#main > header .users .wrap {
  overflow: auto;
  max-height: 350px;
  width: inherit;
}
#main > header .users h3 {
  margin: 10px 0 0;
  padding: 5px 0;
  font-size: 16px;
  color: #ffffff;
}
#main > header .users h3:first-of-type {
  margin: 0;
}
#main > header .users dl {
  position: relative;
  border-top: 1px solid #333333;
  padding: 5px 17px 5px 0;
}
#main > header .users dl dt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#main > header .users dl dt span {
  opacity: .5;
  font-size: 11px;
}
#main > header .users .action {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -99em;
  background: #444444 url(/assets/images/icons/addRemove.png) 0 1 no-repeat;
  border-radius: 10px;
}
#main > header .users .action:hover {
  background-color: green;
}
#main > header .users .list .action {
  background-position: 0 -19px;
}
#main > header .users .list .action:hover {
  background-color: red;
}
